apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: mlflow
type: Opaque
stringData:
  POSTGRES_DB: mlflow
  POSTGRES_USER: mlflowuser
  POSTGRES_PASSWORD: password

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
  namespace: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data

          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3

          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U mlflowuser -d mlflow
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3

      volumes:
        - name: pgdata
          emptyDir: {}   

---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: mlflow
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432
